.college-page{

    padding:10px;

}


.college-page h1{

    font-size:28px;

    color:#0f172a;

    margin-bottom:25px;

}



/* ADD COLLEGE */

.college-add-card,
.college-table-card{


    background:white;

    padding:25px;

    border-radius:16px;

    box-shadow:0 6px 18px rgba(15,23,42,.08);

    margin-bottom:25px;


}



.college-add-card h2,
.college-table-card h2{

    color:#0f172a;

    margin-bottom:20px;

}




.college-add-card label{

    display:block;

    color:#475569;

    margin-bottom:8px;

}



.college-add-card input{


    width:100%;

    padding:13px;

    border:1px solid #cbd5e1;

    border-radius:10px;

    margin-bottom:15px;

}





.college-add-card button{


    background:#2563eb;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;


}





/* TABLE */

.table-tools{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}



.table-tools input,
.table-tools select{


    padding:10px;

    border:1px solid #cbd5e1;

    border-radius:8px;

}



table{

    width:100%;

    border-collapse:collapse;

}



th{

    text-align:left;

    padding:14px;

    background:#f1f5f9;

    color:#334155;

}



td{

    padding:14px;

    border-bottom:1px solid #e2e8f0;

}



.no-data{

    text-align:center;

    color:#64748b;

}



.entry-text{

    color:#64748b;

    margin-top:15px;

}