.college-page{

padding:30px;

background:#f4f6fa;

min-height:100%;

}




.college-card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,0.06);

margin-bottom:30px;

}





.college-card h2{

text-align:center;

color:#2563eb;

font-size:26px;

font-weight:800;

margin-bottom:25px;

}





.college-card label{

display:block;

font-weight:600;

color:#334155;

margin-bottom:8px;

}




.college-card input{

width:100%;

padding:14px;

border:none;

background:#f1f5f9;

border-radius:10px;

font-size:15px;

margin-bottom:20px;

outline:none;

}





.college-card button{

display:block;

margin:auto;

background:#2563eb;

color:white;

border:none;

padding:12px 35px;

border-radius:10px;

font-weight:700;

cursor:pointer;

}





.college-card button:hover{

background:#1d4ed8;

}





table{

width:100%;

border-collapse:collapse;

}





th{

background:#f8fafc;

padding:15px;

text-align:left;

font-size:14px;

color:#475569;

}





td{

padding:15px;

border-bottom:1px solid #e5e7eb;

color:#334155;

}





.edit-btn{

background:white!important;

color:#2563eb!important;

border:1px solid #2563eb!important;

padding:8px 18px!important;

margin-right:10px!important;

}





.delete-btn{

background:#dc2626!important;

color:white!important;

padding:8px 18px!important;

}





td[colspan="4"]{

text-align:center;

color:#94a3b8;

padding:30px;

}