.profile-page{

    min-height:100vh;

    background:#f8fafc;

    padding:50px 30px;

    display:flex;

    justify-content:center;

}





.profile-card{


    width:600px;


    background:white;


    border-radius:20px;


    padding:40px;


    box-shadow:
    0 10px 30px rgba(0,0,0,0.10);


}





.profile-header{


    text-align:center;


    padding-bottom:30px;


    border-bottom:1px solid #e2e8f0;


}





.profile-icon{


    width:90px;


    height:90px;


    border-radius:50%;


    background:#dbeafe;


    color:#2563eb;


    display:flex;


    align-items:center;


    justify-content:center;


    margin:auto;


}





.profile-icon i{


    font-size:50px;


}





.profile-header h2{


    margin-top:20px;


    font-size:30px;


    font-weight:800;


    color:#0f172a;


}





.profile-header p{


    color:#64748b;


    margin-top:8px;


}








.profile-details{


    margin-top:35px;


}





.profile-item{


    display:flex;


    justify-content:space-between;


    align-items:center;


    padding:18px 15px;


    margin-bottom:15px;


    background:#f8fafc;


    border-radius:12px;


}





.profile-item label{


    font-weight:700;


    color:#334155;


    font-size:16px;


}





.profile-item p{


    margin:0;


    color:#475569;


    font-size:16px;


    font-weight:500;


}





.edit-profile-btn{


    width:100%;


    margin-top:30px;


    padding:14px;


    border:none;


    border-radius:10px;


    background:#1e40af;


    color:white;


    font-size:16px;


    cursor:pointer;


    transition:.3s;


}





.edit-profile-btn:hover{


    background:#2563eb;


}





@media(max-width:600px){


.profile-card{


    width:100%;


    padding:25px;


}



.profile-item{


    flex-direction:column;


    align-items:flex-start;


    gap:8px;


}


}