.login-page{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#2563eb);
padding:20px;

}



.login-card{

background:white;
width:420px;
padding:40px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,.2);
text-align:center;

}



.login-logo{

font-size:55px;

}



.login-card h1{

font-size:38px;
color:#1e40af;
margin:5px;

}



.login-card h2{

margin-top:10px;
color:#0f172a;

}



.login-subtitle{

color:#64748b;
margin-bottom:30px;

}



.input-box{

display:flex;
align-items:center;
border:1px solid #cbd5e1;
border-radius:10px;
padding:12px;
margin-bottom:18px;

}



.input-box i{

font-size:20px;
color:#2563eb;
margin-right:10px;

}



.input-box input{

border:none;
outline:none;
width:100%;
font-size:15px;

}



.password-icon{

cursor:pointer;

}



.login-btn{

width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#1e40af;
color:white;
font-size:17px;
cursor:pointer;

}



.login-btn:hover{

background:#1d4ed8;

}



.register-text{

margin-top:25px;
color:#64748b;

}



.register-text a{

color:#2563eb;
font-weight:600;

}