.admin-sidebar{

width:250px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#0f172a;

color:white;

padding:25px 15px;

overflow-y:auto;

z-index:1000;

}



.admin-brand{

text-align:center;

margin-bottom:30px;

}


.admin-brand h2{

font-size:24px;

}



.admin-brand p{

color:#94a3b8;

}





.sidebar-section{

margin-bottom:25px;

}


.sidebar-section h4{

font-size:12px;

color:#94a3b8;

margin-bottom:10px;

}





.sidebar-section button{


width:100%;

padding:11px;

border:none;

background:none;

color:white;

text-align:left;

border-radius:8px;

cursor:pointer;

font-size:14px;

margin-bottom:5px;


}



.sidebar-section button:hover{

background:#1e3a8a;

}





.logout-btn{

background:#dc2626 !important;

}