.user-layout{

display:flex;

background:#eef2f7;

min-height:100vh;

}

.user-main{

margin-left:270px;

width:calc(100% - 270px);

display:flex;

flex-direction:column;

min-height:100vh;

}

.page-content{

padding:35px;

flex:1;

background:#eef2f7;

}