.user-sidebar{

width:250px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#0f172a;

color:white;

padding:25px;

}


.sidebar-logo{

text-align:center;

margin-bottom:40px;

}


.sidebar-logo h2{

font-size:28px;

margin:5px;

}


.sidebar-logo p{

color:#94a3b8;

font-size:14px;

}




.sidebar-menu{

display:flex;

flex-direction:column;

gap:15px;

}



.sidebar-menu button{


background:transparent;

border:none;

color:white;

text-align:left;

padding:14px;

font-size:15px;

border-radius:10px;

cursor:pointer;

}



.sidebar-menu button:hover{

background:#1e3a8a;

}



.logout-menu{

margin-top:40px;

}
.user-main{

margin-left:250px;

}


.page-content{

padding-top:0;

}